/framework
/runtime
.DS_Store
/application/database.php
/application/config.php
/application/admin/database.php
/application/admin/config.php
/logs
/public/index.php
/public/uploads
/nbproject/private/
